# pytorch 1.12 has the following feature:
# BetterTransformer: Fastpath execution for Transformer Encoder Inference
# but it looks very buggy for a quick experiment
torch == 1.11
torchvision
easydict
ujson >= 5.3.0
easydict
